.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  border-bottom: 1px solid black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}